In [154]:
import pandas as pd
import os

In [155]:
Input_path='./Dataset-0/1st'

In [156]:
CareArea=os.path.join(Input_path,"CareAreas.csv")

In [157]:
MetaPath=os.path.join(Input_path,"metadata.csv")

In [158]:
columns_coordinate=['ID','x1','x2','y1','y2']

In [159]:
df_careArea=pd.read_csv(CareArea,names=columns_coordinate)

In [160]:
df_careArea

      ID            x1            x2           y1           y2
0      0   6040.444017   6140.444017  6765.762124  6865.762124
1      1   6240.444017   6340.444017  6765.762124  6865.762124
2      2   6440.444017   6540.444017  6765.762124  6865.762124
3      3   6640.444017   6740.444017  6765.762124  6865.762124
4      4   6840.444017   6940.444017  6765.762124  6865.762124
..   ...           ...           ...          ...          ...
164  164  38840.444020  38940.444020  6765.762124  6865.762124
165  165  39040.444020  39140.444020  6765.762124  6865.762124
166  166  39240.444020  39340.444020  6765.762124  6865.762124
167  167  39440.444020  39540.444020  6765.762124  6865.762124
168  168  39640.444020  39740.444020  6765.762124  6865.762124

[169 rows x 5 columns]

In [161]:
df_metadata=pd.read_csv(MetaPath)

In [87]:
df_metadata

   Main Field Size  Sub Field size
0              110            5.12

In [152]:
#MainField coordinates
datas=[]
#Sub fields coordintes
subfields=[]
#subfield size
sub_side=df_metadata.iat[0,1]
main_side=df_metadata.iat[0,0]
def set_mainframe():
    num=0
    for index,row in df_careArea.iterrows():
        data=[]
        x1=df_careArea.iat[index,1]
        y1=df_careArea.iat[index,3]
        x_c=df_careArea.iat[index,2]
        y_c=df_careArea.iat[index,4]
        x2=x1+main_side
        y2=y1+main_side
        set_subfield(x1,y1,x2,y2,x_c,y_c,index,num)
        data.append(index)
        data.append(x1)
        data.append(x2)
        data.append(y1)
        data.append(y2)
        datas.append(data)                    
    df_main=pd.DataFrame(datas,columns=None)
    return df_main

In [165]:
df=set_mainframe()
df.to_csv("MainFrameSample.csv",header=False,index=False)
df_subfield=pd.DataFrame(subfields,columns=None)
df_subfield.to_csv("SubField.csv",header=False,index=False)
df_subfield

          0             1             2            3            4    5
0         0   6040.444017   6045.564017  6765.762124  6770.882124    0
1         1   6045.564017   6050.684017  6765.762124  6770.882124    0
2         2   6050.684017   6055.804017  6765.762124  6770.882124    0
3         3   6055.804017   6060.924017  6765.762124  6770.882124    0
4         4   6060.924017   6066.044017  6765.762124  6770.882124    0
...     ...           ...           ...          ...          ...  ...
135196  395  39717.244020  39722.364020  6863.042124  6868.162124  168
135197  396  39722.364020  39727.484020  6863.042124  6868.162124  168
135198  397  39727.484020  39732.604020  6863.042124  6868.162124  168
135199  398  39732.604020  39737.724020  6863.042124  6868.162124  168
135200  399  39737.724020  39742.844020  6863.042124  6868.162124  168

[135201 rows x 6 columns]

In [164]:
def set_subfield(x1,y1,x2,y2,x_c,y_c,index,num):
    subfield=[]
    subfield.append(num)
    num=num+1
    subfield.append(x1)
    x_m=x1+sub_side
    y_m=y1+sub_side
    subfield.append(x_m)
    subfield.append(y1)
    subfield.append(y_m)
    subfield.append(index)
    subfields.append(subfield)
    while(x_m<=x2 and y_m<=y2):
        sub=[]
        if(x_m>=x_c and y_m<y_c):
            x_m=x1
            y1=y_m
            y_m=y_m+sub_side
            continue;
        if(x_m>x_c and y_m>y_c):
            break;
        x_2=x_m+sub_side
        sub.append(num)
        num=num+1
        sub.append(x_m)
        sub.append(x_2)
        sub.append(y1)
        sub.append(y_m)
        sub.append(index)
        x_m=x_2
        subfields.append(sub)